{% extends 'base2.html' %}
{% load static %}
{% block content %}
    <div class="container-one">
        <h1>Please Login</h1>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-control">
                <input type="email" class="form-control" placeholder="input email" name="email">
                <label>Email</label>
            </div>

            <div class="form-control">
                <input type="password" class="form-control" placeholder="input password" name="password">
                <label>Password</label>
            </div>

            <input type="submit" id="go" value="Log In" class="btn" />

            <p class="text">Don't have an account? <a href="{% url 'register' %}">Register</a></p>

        </form>
    </div>
    <script src="{% static 'js/form.js' %}"></script>    
{% endblock %}

