<nav class="nav">
    <div class="container-site">
        <h1 class="logo"><a href="./index.html">AWWWARDS.</a></h1>

       <form action="">
        <div class="search">
            <input type="text" class="input" placeholder="search....">
        </div>
       </form>

        
        <ul>
            <li><a href="{% url 'login' %}" class="currents">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="#">SUBMIT YOUR SITE</a></li>
        </ul>
    </div>
</nav>