{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/navbar.html' %}

    <div class="hero">
        <div class="container-site">
            <h1>Welcome To My AWWWARDS Website</h1>
            <p>The awards of design, creativity and innovation on the internet
            </p>
        </div>
    </div>





    <section class="projo">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4">
                <div class="card mt-3">
                    <img src="{{post.image.url}}" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title: {{post.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Description:{{post.description}}</h6>
                        <a href="{{post.post_link}}" class="card-link">Link: {{post.post_link}}</a>
                    </div>
                </div>
                            
            
            
            
            
            <form action="" method="POST">
                {% csrf_token %}
                <h5> write your review</h5>
<!-- rating stars -->

<div class="rate">
    <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
    <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
    <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
    <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
    <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
    <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
    <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
    <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
    <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
    <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>

</div>








review title:
<input type="text" class="form-control" name="subject">
<br>
review
<textarea name="review" rows="4" class="form-control"></textarea>
<br>
<input type="submit" value="Submit Review" class="btn btn-primary">
            </form>
            
            
            
            
            
            
            
            
            
            </div>













                {% endfor %}
            </div>
        </div>






    </section>






















    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
</body>

</html>


{% endblock %}